/* stylelint-disable no-descending-specificity */

/* Pop Up Section */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--primary-color-4);
  padding: 0 85px;
  backdrop-filter: blur(8px);
}

.section {
  width: 80%;
  position: relative;
  border-radius: 1%;
  font-family: var(--font-2);
  background: var(--white);
  padding: 5px 15px 5px 20px;
  margin: 20px auto;
  color: var(--secondary-color-3);
  -webkit-animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.d-bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.direction {
  flex-direction: column;
}

.close {
  display: flex;
  justify-content: flex-end;
  color: var(--primary-color-1);
  font-size: 35px;
  font-weight: 500;
  cursor: pointer;
}

.close:hover {
  color: var(--accent-color-1);
}

.top-section {
  display: flex;
  justify-content: space-between;
  height: min-content;
}

.img-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
}

.details {
  width: 65%;
  margin-bottom: 50px;
}

.main-img {
  width: 100%;
  border: 4px solid white;
  border-radius: 3%;
  height: 73%;
}

div.download-btn {
  background: var(--primary-color-3);
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 8px 5px;
  margin-top: 5px;
}

div.download-btn > button {
  border-radius: 2px;
  background: var(--primary-color-1);
  border: none;
  color: var(--white);
  cursor: pointer;
  padding: 12px;
  width: 95%;
  font-family: var(--font-2);
}

div.download-btn > button:focus {
  background: var(--accent-color-4);
}

div.download-btn > button:hover {
  background: var(--accent-color-3);
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

div.download-btn > button img {
  width: 7%;
}

.details h3 {
  font-size: 1.7rem;
  font-weight: 600;
}

.details p {
  font-size: 1rem;
  color: var(--secondary-color-4);
}

.details div.d-flex {
  display: flex;
  justify-content: space-between;
}

.details div.genre {
  padding: 15px 50px 15px 0;
  color: var(--secondary-color-4);
}

.details div.summary {
  margin: 5px 0;
  color: var(--secondary-color-4);
}

.details div.summary > p {
  padding: 3px 50px 0 0;
  line-height: 1.5rem;
  color: var(--secondary-color-4);
}

.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
}

.comment-section > h3 {
  font-size: 1.8rem;
}

#form {
  padding-top: 0.8%;
  width: 35%;
}

.comment-display {
  margin: 5px 0 20px;
  width: 50%;
}

.commenting {
  padding: 2%;
  font-size: 1rem;
  border-left: solid 5px var(--accent-color-1);
  margin-top: 5px;
  background: var(--neutral-color-1);
  width: 100%;
}

.commenting > p:nth-of-type(2) {
  font-size: 0.9rem;
  padding-top: 5px;
}

.commenting p.date {
  font-size: 0.7rem;
}

#form > input,
#form > textarea {
  border: solid 2px var(--secondary-color-4);
  padding: 10px;
  font: var(--font-2);
  margin: 10px 0 0;
  border-radius: 10% 10% 0 0;
}

#form > input:focus,
#form > textarea:focus {
  border: solid 2px var(--accent-color-1);
  outline: none;
}

button#adding {
  margin: 20px 0;
  background: var(--accent-color-1);
  border: none;
  color: var(--white);
  font-family: var(--font-2);
  font-size: 1rem;
  border-radius: 15% 15% 0 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
  transition: background ease-out 0.5s 0.1s;
  cursor: pointer;
  padding: 12px;
}

button#adding:hover {
  background: var(--accent-color-3);
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

button#adding:focus {
  background: var(--accent-color-4);
}

.like-animate {
  -webkit-animation: scale-up-center 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  color: #f1c215;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-22 13:31:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
