/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --primary-color-1: #f85f68;
  --primary-color-2: #f5303d;
  --primary-color-3: #f7c3c6;
  --accent-color-1: #6eafab;
  --accent-color-2: #b5ebe7;
  --accent-color-3: #567a79;
  --accent-color-4: #476463;
  --secondary-color-1: #322831;
  --secondary-color-2: #5f4d5d;
  --secondary-color-3: #2a377f;
  --secondary-color-4: #1e2344;
  --neutral-color-1: #dfdfde;
  --white: #fff;
  --font-1: 'Lora', sans-serif;
  --font-2: 'Sora', serif;
  --shadow-1: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
}

/* Global styles */
html {
  overflow-x: hidden;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: var(--font-2);
  background: var(--neutral-color-1);
  position: relative;
  height: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* Header Styles */
header {
  width: 100%;
}

header > nav {
  display: flex;
  width: 100%;
  padding: 0 200px;
  justify-content: space-between;
}

nav > .logo {
  width: 18%;
}

nav > .logo img {
  width: 90%;
  padding: 20px 0;
}

nav .form-container {
  align-self: center;
  margin-top: 20px;
  padding: 2px 5px 2px 2px;
}

nav .form-container > form {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--shadow-1);
}

nav .form-container > form > div {
  background: var(--primary-color-3);
  border-radius: 2px;
}

nav .form-container > form > input {
  border: none;
  padding: 10px;
  border-radius: 2px;
  font: var(--font-2);
}

nav .form-container > form > input:focus {
  outline: none;
}

nav .form-container > form > input::placeholder {
  font-family: var(--font-2);
}

nav > ul {
  display: flex;
  align-items: center;
}

nav > ul > li {
  margin: 0 25px;
  font-size: 16px;
  font-family: var(--font-2);
  font-weight: 700;
}

nav > ul > li a:hover {
  color: var(--secondary-color-3);
}

nav ul li a.active {
  color: var(--secondary-color-3);
  border-bottom: solid 3px var(--secondary-color-3);
  transition: border-bottom ease-out 0.5s 0.1s;
  padding-bottom: 5px;
}

.d-none {
  display: none;
}

/* Main Section */
main {
  padding: 0 200px;
}

main .heading-container h1 {
  text-align: center;
  margin: 30px 0 40px;
  color: var(--secondary-color-3);
}

main > ul.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

ul.container > li {
  background: var(--white);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
}

ul.container > li .tv-title {
  display: flex;
  justify-content: space-between;
}

ul.container > li .tv-title p {
  font-size: 1rem;
  color: var(--secondary-color-3);
}

ul.container > li .tv-title p:nth-of-type(1) {
  width: 70%;
  font-weight: 700;
}

ul.container > li .tv-title p:nth-of-type(2) {
  font-size: 0.9rem;
}

ul.container > li .tv-title p:nth-of-type(2) i {
  margin-right: 8px;
  font-size: 1.2rem;
  cursor: pointer;
}

ul.container > li .tv-title p:nth-of-type(2) i:hover {
  color: var(--secondary-color-4);
}

ul.container > li .show-img img {
  width: 100%;
  margin-bottom: 20px;
}

ul.container > li button {
  margin: 30px 0 0;
  background: var(--accent-color-1);
  border: none;
  color: var(--white);
  font-family: var(--font-2);
  font-size: 1rem;
  border-radius: 15% 15% 0 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
  transition: background ease-out 0.5s 0.1s;
  cursor: pointer;
  padding: 12px;
}

nav .form-container > form > div button {
  margin: 5px 5px 5px 10px;
  background: var(--primary-color-1);
  border: none;
  color: var(--white);
  font-family: var(--font-2);
  font-size: 0.9rem;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
  transition: background ease-out 0.5s 0.1s;
  cursor: pointer;
  padding: 8px 25px;
}

main ul.container > li button:focus {
  background: var(--accent-color-4);
}

main ul.container > li button:hover {
  background: var(--accent-color-3);
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

nav div.form-container > form > div button:hover {
  background: var(--primary-color-2);
}

nav div.form-container > form > div button:focus {
  outline: none;
}

/* spinner */
.loading-spinner {
  animation: rotate-forever linear infinite 0.8s;
  height: 12px;
  width: 12px;
  border: 2px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Footer Section */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.5% 200px;
  background-color: var(--accent-color-1);
  color: var(--neutral-color-1);
  border-radius: 10% 10% 0 0;
}

@media (max-width: 992px) {
  header > nav {
    padding: 0 50px;
  }

  nav > .logo img {
    width: 60%;
    padding: 20px 0;
  }
}
